<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Se parte de Duogo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="usuario" (ngSubmit)="registroUsuario()" style="margin: 20px;">
      <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input formControlName="apellido" type="text" label="Apellido" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input formControlName="correo" type="email" label="Correo" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input formControlName="contrasena" type="password" label="Contraseña" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input formControlName="contrasena_confirmar" type="password" label="Confirmar Contraseña" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-button color="warning" style="margin-left: 100px;" fill="outline" shape="round">Registrarse</ion-button>
    </form>
  </ion-card>
</ion-content>
