<ion-breadcrumbs [maxItems]="4" (ionCollapsedClick)="presentPopover($event)">
  <ion-breadcrumb href="/login"> <ion-icon name="home" slot="end"></ion-icon> </ion-breadcrumb>  
  <ion-breadcrumb href="/conductor">Conductor</ion-breadcrumb>
  <ion-breadcrumb href="/lista-cli">Lista Cliente</ion-breadcrumb>
  <ion-breadcrumb href="/encuentro">Prepar Viaje</ion-breadcrumb>
  <ion-breadcrumb href="/espera">Espera</ion-breadcrumb>
  <ion-breadcrumb href="/iniciar-viaje">Iniciar Viaje</ion-breadcrumb>
  <ion-breadcrumb href="/finalizar-viaje">Finalizar Viaje</ion-breadcrumb>
</ion-breadcrumbs>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item
          *ngFor="let breadcrumb of collapsedBreadcrumbs; last as isLast"
          [href]="breadcrumb.href"
          [lines]="isLast ? 'none' : null"
        >
          <ion-label>{{ breadcrumb.textContent }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<img style="height: 450px; padding: 30px; margin-bottom: auto;" src="../../../assets/img/mapa.jpg" alt="">
<ion-button color="warning" style="margin-left: 125px; width: 50%; margin-bottom: 80px;" fill="outline" shape="round" (click)="cambiarPagina()">Finalizar viaje</ion-button>
