<ion-content class="ion-padding">
  <div class="center-content">
    <img src="../../../assets/img/icon_user.png" alt="Profile Picture" class="profile-img">

  <ion-card *ngIf="usuario">
    <ion-card-header>
    <ion-card-title>{{ usuario.nombre }}</ion-card-title> <!-- Muestra el nombre del usuario -->
    <ion-card-subtitle>RUT: {{ usuario.rut }}</ion-card-subtitle> <!-- Muestra el ID del usuario -->
    </ion-card-header>

    <ion-card-content>
    <p>Email: {{ usuario.correo }}</p> <!-- Muestra el email del usuario -->
    <p>Teléfono: {{ usuario.telefono }}</p> <!-- Muestra el teléfono del usuario -->
    <!-- Agrega más campos según los datos que tengas en el objeto usuario -->
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
