<ion-content class="ion-padding">
  <div class="map-container">
    <div id="map_lista"></div>
  </div>
  <br>

  <!-- Botón para crear un viaje -->
  <ion-button 
    *ngIf="tipoUsuario === 'estudiante_conductor' && !tieneViaje"
    expand="full" 
    [routerLink]="['/crear-viaje']" shape="round">
    Crear Viaje
  </ion-button>

  <!-- Sección: Tu Viaje Actual -->
  <ion-card *ngIf="viajesAsignados.length > 0">
    <ion-card-header>
      <ion-card-title>Tu Viaje Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let viaje of viajesAsignados">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="viaje.imagen_conductor" alt="Imagen del conductor" />
        </ion-avatar>
        <ion-label>
          <p><strong>Conductor:</strong> {{ viaje.estudiante_conductor }}</p>
          <p><strong>Estado:</strong> {{ viaje.estado_viaje }}</p>
          <p>
            <strong>Costo:</strong> 
            <em>{{ viaje.costo | currency:'CLP ':'symbol':'1.0-0' }}</em> 
            ({{ viaje.costo_dolar | currency:'USD':'symbol':'1.0-2' }} dólares)
          </p>
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Desde:</strong> DUOC UC: Sede Puente Alto</p>
          </ion-col>
          <ion-col>
            <p><strong>Hasta:</strong> {{ viaje.nombre_destino }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Capacidad:</strong> {{ viaje.asientos_disponibles }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Forma de pago:</strong> {{ viaje.forma_pago }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Hora de salida:</strong> {{ viaje.hora_salida }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Patente:</strong> {{ viaje.patente }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Botones 'Modificar' y 'Cancelar' solo si el usuario es el conductor -->
      <ion-button *ngIf="esConductor(viaje)" (click)="modificarViaje(viaje)" color="primary" size="block">
        Modificar viaje
      </ion-button>
      <ion-button *ngIf="esConductor(viaje)" (click)="cancelarViaje(viaje)" color="danger" size="block">
        Cancelar viaje
      </ion-button>
      <ion-button (click)="verRuta(viaje)" size="block">
        Ver Ruta
      </ion-button>
      <ion-button *ngIf="esPasajero(viaje)" (click)="abandonar(viaje)" color="danger" size="block">
        Abandonar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Sección: Viajes Disponibles -->
  <ion-card *ngIf="viajesDisponibles.length > 0">
    <ion-card-header>
      <ion-card-title>Viajes Disponibles</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let viaje of viajesDisponibles">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="viaje.imagen_conductor" alt="Imagen del conductor" />
        </ion-avatar>
        <ion-label>
          <p><strong>Conductor:</strong> {{ viaje.estudiante_conductor }}</p>
          <p><strong>Estado:</strong> {{ viaje.estado_viaje }}</p>
          <p>
            <strong>Costo:</strong> 
            <em>{{ viaje.costo | currency:'CLP ':'symbol':'1.0-0' }}</em> 
            ({{ viaje.costo_dolar | currency:'USD':'symbol':'1.0-2' }} dólares)
          </p>
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Desde:</strong> DUOC UC: Sede Puente Alto</p>
          </ion-col>
          <ion-col>
            <p><strong>Hasta:</strong> {{ viaje.nombre_destino }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Capacidad:</strong> {{ viaje.asientos_disponibles }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Forma de pago:</strong> {{ viaje.forma_pago }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Hora de salida:</strong> {{ viaje.hora_salida }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Patente:</strong> {{ viaje.patente }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="verRuta(viaje)" size="block">
        Ver Ruta
      </ion-button>
      <ion-button (click)="unirme(viaje)" size="block">
        Unirme
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Mensaje si no hay viajes -->
  <ion-card *ngIf="viajesAsignados.length === 0 && viajesDisponibles.length === 0">
    <ion-card-content>
      <ion-label>
        <h2>No hay viajes disponibles</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
