<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Botón para crear un viaje -->
  <ion-button expand="full" [routerLink]="['/crear-viaje']">
    Crear Viaje
  </ion-button>

  <!-- Lista de viajes -->
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-content>
      <!-- Item 1 Sliding -->
      <ion-item-sliding>
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <p><strong>Conductor:</strong> {{viaje.estudiante_conductor}}</p>
            <p><strong>Estado:</strong> {{viaje.estado_viaje}}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="success">
            Agendar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Desde:</strong> DUOC UC: Sede Puente Alto</p>
          </ion-col>
          <ion-col>
            <p><strong>Hasta:</strong> {{ viaje.nombre_destino }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Capacidad:</strong> {{ viaje.asientos_disponibles }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Forma de pago:</strong> {{ viaje.forma_pago }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
