<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Ingrese correo registrado</ion-label>
        <ion-input color="primary" type="email" placeholder="ejemplo@duocuc.cl"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="stacked">Confirme correo</ion-label>
        <ion-input color="primary" type="email" placeholder="ejemplo@duocuc.cl"></ion-input>
      </ion-item>
      <br>
      <ion-button id="open-loading" color="warning" expand="full" fill="outline" shape="round" (click)="cambiarPagina()">Enviar código de recuperación</ion-button>
      <ion-loading trigger="open-loading" message="Si el correo esta asociado a alguna cuenta DuoGO, le enviaremos un código de 6 dígitos" duration="3000"></ion-loading>
    </ion-card-content>
  </ion-card>
</ion-content>
