<ion-header>
  <ion-toolbar>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la página -->
<ion-content class="ion-padding">
  <!-- Formulario CRUD usuario/persona -->
  <ion-card>
    <form [formGroup]="persona" (ngSubmit)="createUsuario()" style="padding: 10px;">
      <!-- Atributos de la persona -->
      <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="stacked" fill="outline" helperText="Sin puntos y con guión."></ion-input>
      <br>
      <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked" fill="outline" helperText="Solo letras."></ion-input>
      <br>
      <ion-input formControlName="apellido" type="text" label="Apellido" labelPlacement="stacked" fill="outline" helperText="Solo letras."></ion-input>

      <br>
      <ion-list>
        <ion-label>Género</ion-label>
        <ion-radio-group formControlName="genero" (ionChange)="handleChange($event)">
          <ion-item>
            <ion-label>Masculino</ion-label>
            <ion-radio slot="start" value="Masculino"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Femenino</ion-label>
            <ion-radio slot="start" value="Femenino"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otro</ion-label>
            <ion-radio slot="start" value="Otro"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <br>

      <ion-input formControlName="telefono" type="text" label="Teléfono" labelPlacement="stacked" fill="outline" helperText="9 dígitos. Solo números."></ion-input>
      <br>
      <ion-input formControlName="correo" type="email" label="Correo" labelPlacement="stacked" fill="outline" helperText="Debe ser un correo institucional (@duocuc.cl)"></ion-input>
      <br>

      <ion-item>
        <ion-checkbox formControlName="esConductor" (ionChange)="onCheckboxChange($event.detail.checked)" slot="start"></ion-checkbox>
        <ion-label>Eres conductor?</ion-label>
      </ion-item>

      <br>
      <ion-input *ngIf="persona.controls.esConductor.value" formControlName="nombre_auto" type="text" label="Marca de auto" labelPlacement="stacked" fill="outline" helperText="Solo letras."></ion-input>
      <br>
      <ion-input *ngIf="persona.controls.esConductor.value" formControlName="capacidad_auto" type="number" label="Capacidad de auto" labelPlacement="stacked" fill="outline" helperText="Solo números. Minimo 2."></ion-input>
      <br>
      <ion-input formControlName="contrasena" type="password" label="Contraseña" labelPlacement="stacked" fill="outline" helperText="Mínimo de 2 caracteres."></ion-input>
      <br>
      <ion-input formControlName="contrasena_confirmar" type="password" label="Confirmar Contraseña" labelPlacement="stacked" fill="outline" helperText="Debe ser igual a la contraseña anterior."></ion-input>
      <br>   

      <ion-button id="present-alert" [disabled]="persona.invalid" type="submit" size="block" color="success">REGISTRAR</ion-button> 
      <ion-button (click)="updateUsuario()" size="block" color="warning">MODIFICAR</ion-button>
      <ion-button type="reset" size="block" color="medium">LIMPIAR</ion-button>
    </form>
  </ion-card>

  <!-- *ngFor que itera en la lista de usuarios -->
  <ion-list *ngFor="let usuario of usuarios">
    <!-- Item principal que se muestra en la lista -->
    <ion-item (click)="usuarioDrop(usuario.rut)">
      <ion-icon name="person-circle-outline"></ion-icon>
      <h5 style="padding-left: 10px;">{{ usuario.nombre }} {{usuario.apellido}}</h5>
    </ion-item>
  
    <!-- Dropdown con los detalles del usuario, visible solo al hacer clic -->
    <div *ngIf="usuarioVisible === usuario.rut" class="dropdown">
      <ion-label><strong>RUT:</strong> {{ usuario.rut }}</ion-label><br>
      <ion-label><strong>Correo:</strong> {{ usuario.correo }}</ion-label><br>
      <ion-label><strong>Tipo de usuario:</strong> {{ usuario.tipo_usuario }}</ion-label><br>
  
      <!-- Botones dentro del dropdown -->
      <ion-button (click)="getUsuario(usuario.rut)" color="warning">BUSCAR</ion-button>
      <ion-button (click)="deleteUsuario(usuario.rut)" color="danger">ELIMINAR</ion-button>
    </div>
  </ion-list>
</ion-content>