<ion-toolbar>
  <ion-breadcrumbs>
    <ion-breadcrumb href="/login"> <ion-icon name="home" slot="end"></ion-icon> </ion-breadcrumb>
    <ion-breadcrumb href="/conductor">Conductor</ion-breadcrumb>
  </ion-breadcrumbs>
    <br>
    <ion-title style="text-align: center;" >Bienvenido "CONDUCTOR"</ion-title>
    <img style="height: 100px; border-radius: 100px; margin-left: 380px;" src="../../../assets/img/American-actor-Keanu-Reeves-2014.webp" alt="placeholder">
  </ion-toolbar>

<ion-content [fullscreen]="true" >
  <ion-button color="warning" style="margin-left: 100px; margin-top: 70px;" fill="outline" shape="round" (click)="cambiarPagina()">Listado de clientes</ion-button>
  <br>
  <br>
  <br>
  <br>
  <ion-button color="warning" style="margin-left: 100px;" fill="outline" shape="round" (click)="cambiarPagina2()" >Ingresar vehiculo</ion-button>
</ion-content>

