<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/viaje"></ion-back-button> <!-- Botón de regreso -->
    </ion-buttons>
    <ion-title>Modificar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="map-container">
    <div id="map_modificar"></div>
  </div>

  <ion-card class="custom-card">
    <form [formGroup]="viaje" (ngSubmit)="modificarViaje()" style="margin: 20px;">

      <!-- Input para la patente del vehículo, solo lectura -->
      <ion-input formControlName="patente" label="Patente del vehículo" labelPlacement="stacked" fill="outline" readonly></ion-input>

      <br>
      <!-- Input para el costo del viaje -->
      <ion-input formControlName="costo" type="number" label="Costo del viaje" labelPlacement="stacked" fill="outline" helperText="Ingrese el costo del viaje"></ion-input>
      <br>
      <!-- Input para el nombre del destino, solo lectura -->
      <ion-input formControlName="nombre_destino" label="Destino" helperText="Ingrese dirección en el buscador del mapa" labelPlacement="stacked" fill="outline" readonly></ion-input>
      <br>

      <ion-input formControlName="asientos_disponibles" type="number" label="Asientos disponibles" labelPlacement="stacked" fill="outline" helperText="No puede ser menor/mayor a la cantidad de asientos de su vehículo"></ion-input>
      <br>
      
      <ion-input formControlName="hora_salida" type="time" label="Hora de salida" labelPlacement="stacked" fill="outline" helperText="Debe ser una hora válida"></ion-input>
      <br>
  
      <!-- Vincular el ion-radio-group con formControlName -->
      <ion-radio-group formControlName="forma_pago">
        <ion-radio value="Efectivo">Efectivo</ion-radio><br />
        <ion-radio value="Transferencia">Transferencia</ion-radio><br />
      </ion-radio-group>
      <br>
  
      <ion-button color="warning" expand="full" fill="outline" shape="round" type="submit">Modificar Viaje</ion-button>
    </form>
  </ion-card>
</ion-content>
