<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Volver a inicio</ion-title>
    <ion-buttons slot="end">
      <img src="../../../assets/img/logo_compact_duogo.png" alt="Logo DuoGO" style="height: 50px; width: 70px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" fullscreen>
  <div class="container-center">
    <h1>Lo sentimos, página no encontrada :(</h1>
    <img src="../../../assets/img/img_error_404.png" alt="Página no encontrada" />
  </div>
</ion-content>
