.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  }
  
  img {
    max-width: 40%;
    height: auto;
  }
  