<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje de viaje pendiente -->
  <div *ngIf="tieneViajePendiente" class="viaje-pendiente">
    <ion-card>
      <ion-card-content>
        Tienes un viaje en progreso

        <!-- Botón para cambiar el estado del viaje -->
        <ion-button
          size="small"
          color="primary"
          (click)="toggleEstadoViaje()">
          {{ botonTexto }}
        </ion-button>

        <!-- Botón para finalizar el viaje -->
        <ion-button
          *ngIf="viajeUsuario?.estado_viaje === 'En progreso'"
          size="small"
          color="danger"
          (click)="finalizarViaje()">
          Finalizar Viaje
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Mapa -->
  <div id="map_map"></div>
</ion-content>
