<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/viaje"></ion-back-button> <!-- Botón de regreso -->
    </ion-buttons>
    <ion-title>Crear Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="map-container">
    <div id="map_create"></div>
  </div>

  <ion-card class="custom-card">
    <form [formGroup]="viaje" (ngSubmit)="createViaje()" style="margin: 20px;">
      <ion-input formControlName="asientos_disponibles" type="number" label="Asientos disponibles" labelPlacement="stacked" fill="outline" helperText="No puede ser menor/mayor a la cantidad de asientos de su vehiculo"></ion-input>
      <br>
  
      <!-- Vincular el ion-radio-group con formControlName -->
      <ion-radio-group formControlName="forma_pago">
        <ion-radio value="Efectivo">Efectivo</ion-radio><br />
        <ion-radio value="Transferencia">Transferencia</ion-radio><br />
      </ion-radio-group>
      <br>
  
      <ion-button color="warning" expand="full" fill="outline" shape="round" type="submit">Crear</ion-button>
    </form>
  </ion-card>
</ion-content>
