<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="/login"> <ion-icon name="home" slot="end"></ion-icon> </ion-breadcrumb>
      <ion-breadcrumb href="/ingresar-vehiculo">Datos Vehiculo</ion-breadcrumb>  
      <ion-breadcrumb href="/Ingresar-documento">Documentos</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-title style="text-align: center;" >Ingresa tus Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<div class="upload-container">
  <ion-button color="warning" style="margin-left: 80px;" fill="outline" shape="round" expand="full" >
    <ion-icon name="arrow-up" slot="start"></ion-icon>
    Subir Archivo
  </ion-button>
</div>

<ion-button color="warning" style="margin-left: 50px;" fill="outline" shape="round" id="trigger-button" (click)="cambiarPagina()">Subir Documentos</ion-button>
<ion-popover trigger="trigger-button">
  <ng-template>
    <ion-content class="ion-padding" style="margin-left: 100px;">¡¡Sus documentos han sido ingresado con éxito!!</ion-content>
  </ng-template>
</ion-popover>