<ion-header>
  <ion-toolbar>
    <div class="imagen">
      <img src="../../../assets/img/logo DuoGo.jpg" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Se declara la carta -->
  <ion-card>
    <!-- Se declara el header -->
    <ion-card-header>
      <!-- Se declara el contenido-->
      <ion-card-content>
        <ion-input color="secondary" type="email" label="Correo" labelPlacement="stacked" fill="outline" placeholder="ejemplo@duocuc.cl"></ion-input>
        <br>
        <ion-input color="secondary" type="password" label="Contraseña" labelPlacement="stacked" fill="outline" placeholder="********" ></ion-input>
        <p><a routerLink="/olvido">Olvide Mi Contraseña</a></p>
        <br>
        <ion-button color="warning" style="margin-left: 100px;" fill="outline" shape="round">Iniciar Sesión</ion-button>
        <br>
        <ion-button color="tertiary" style="margin-left: 105px;" fill="outline" shape="round">Registrarse</ion-button>
        
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
