<ion-content class="ion-padding">
  <!-- Imagen centrada en el header -->
  <div class="imagen">
    <img src="../../../assets/img/logo_duogo_white.png" alt="Logo duoGO" class="logo">
  </div>

  <!-- Carta de inicio de sesión -->
  <ion-card>
    <ion-card-header>
      <ion-card-content>
        <!-- Campos de entrada y botones -->
        <ion-input [(ngModel)]="rut" color="primary" type="text" label="RUT" labelPlacement="stacked" fill="outline"></ion-input>
        <br>
        <ion-input [(ngModel)]="contrasena" color="primary" type="password" label="Contraseña" labelPlacement="stacked" fill="outline">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <p style="text-align: center; padding: 5px;"><a routerLink="/olvido">Olvidé Mi Contraseña</a></p>
        <ion-button (click)="authUsuario(rut, contrasena)" color="warning" expand="full" fill="outline" shape="round">Iniciar Sesión</ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <p style="text-align: center; padding: 5px;">Estudiante de Duoc? <a routerLink="/registro">¡Regístrate!</a></p>
</ion-content>
