.mapa-placeholder {
  width: 100vw;  /* Hace que la imagen ocupe el ancho completo de la ventana */
  height: 100vh; /* Hace que la imagen ocupe la altura completa de la ventana */
  object-fit: cover; /* Asegura que la imagen mantenga sus proporciones al ajustarse */
  position: absolute; /* Para asegurar que cubra todo el contenido */
  top: 0;
  left: 0;
}