<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-breadcrumbs [maxItems]="4" (ionCollapsedClick)="presentPopover($event)">
      <ion-breadcrumb href="/login"> <ion-icon name="home" slot="end"></ion-icon> </ion-breadcrumb>  
      <ion-breadcrumb href="/conductor">Conductor</ion-breadcrumb>
      <ion-breadcrumb href="/lista-cli">Lista Cliente</ion-breadcrumb>
      <ion-breadcrumb href="/encuentro">Prepar Viaje</ion-breadcrumb>
      <ion-breadcrumb href="/espera">Espera</ion-breadcrumb>
      <ion-breadcrumb href="/iniciar-viaje">Iniciar Viaje</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let breadcrumb of collapsedBreadcrumbs; last as isLast"
              [href]="breadcrumb.href"
              [lines]="isLast ? 'none' : null"
            >
              <ion-label>{{ breadcrumb.textContent }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    
    <ion-title style="text-align: center;">Listado de Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
<div class="info-box">
  <div class="info-item">
    <p>Persona</p>
    <ion-checkbox></ion-checkbox>
  </div>

  <div class="info-item">
    <p>Persona</p>
    <ion-checkbox slot="start" checked></ion-checkbox>
  </div>

  <div>
  </div>

  <div class="info-item">
    <p>Persona</p>
    <ion-checkbox slot="start" checked></ion-checkbox>
  </div>

  <div>
  </div>

  <div class="info-item">
    <p>Persona</p>
    <ion-checkbox slot="start" checked></ion-checkbox>
  </div>

  <div>
  </div>

  <div class="info-item">
    <p>Persona</p>
    <ion-checkbox slot="start" checked></ion-checkbox>
  </div>

  <br>

<ion-button color="warning" style="margin-left: 20px;" fill="outline" shape="round" (click)="cambiarPagina()" >Iniciar viaje</ion-button>


