<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/perfil"></ion-back-button> <!-- Botón para retroceder -->
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Si no hay viajes, mostrar una tarjeta con un mensaje -->
  <ion-card *ngIf="viajes.length === 0">
    <ion-card-content>
      <ion-label>
        <h2>No hay viajes disponibles en los que estés participando.</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!-- Lista de viajes del historial -->
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><strong>Conductor:</strong> {{viaje.estudiante_conductor === rutUsuario ? 'Tú mismo (Conductor)' : viaje.estudiante_conductor}}</p>
          <p><strong>Estado:</strong> {{viaje.estado_viaje}}</p>
          <p><strong>Costo:</strong> {{ viaje.costo | currency:'CLP ':'symbol':'1.0-0' }}</p>
        </ion-label>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Desde:</strong> DUOC UC: Sede Puente Alto</p>
          </ion-col>
          <ion-col>
            <p><strong>Hasta:</strong> {{ viaje.nombre_destino }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Capacidad:</strong> {{ viaje.asientos_disponibles }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Forma de pago:</strong> {{ viaje.forma_pago }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Hora de salida:</strong> {{ viaje.hora_salida }}</p>
          </ion-col>
          <ion-col>
            <p><strong>Patente:</strong> {{ viaje.patente }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Mostrar la lista de pasajeros solo si el usuario es el conductor -->
      <ion-grid *ngIf="viaje.estudiante_conductor === rutUsuario">
        <ion-row>
          <ion-col>
            <p><strong>Pasajeros:</strong></p>
            <ul>
              <li *ngFor="let pasajero of viaje.pasajeros">{{ pasajero }}</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Razón cancelacion:</strong></p>
              {{ viaje.razon_cancelacion }}
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="fabricantes.length > 0">
    <ion-card-header>
      <ion-card-title>Lista de Fabricantes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let fabricante of fabricantes">
          <ion-label>
            <h2>{{ fabricante[0].name }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar mensaje de error -->
  <ion-text *ngIf="errorMessage" color="danger">
    {{ errorMessage }}
  </ion-text>

</ion-content>
