<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/perfil"></ion-back-button> <!-- Botón para retroceder -->
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="viajes.length === 0">
    <ion-card-content>
      <p>No hay viajes disponibles en los que estés participando.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let viaje of viajes">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" style="width: 40px; height: 40px;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Viaje con {{ viaje.estudiante_conductor === rutUsuario ? 'Tú mismo (Conductor)' : viaje.estudiante_conductor }}</h2>
          <p>Desde: Duoc UC</p>
          <p>Hasta: {{ viaje.nombre_destino }}</p>
          <p>{{ viaje.fecha }} - ${{ viaje.costo }} CLP</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
